body{
background-image: url("images/background.jpg");
background-repeat: no-repeat;
background-attachment: fixed;

}

#field1{
	background-color: #ffffff;
	padding: 30px;
	border: 5px solid #c03737;
	border-radius: 20px;
	box-shadow: 0px 0px 30px #121211;
    font-size: 20px;    
    height: 100px ;
    width: 1300px;
    opacity: 0.95;

}

.btn{
    color:rgb(255, 255, 255);
    background: #ee171f;
    padding:20px 20px;
    font-size:45px;
    text-decoration:none;
    text-transform:uppercase;
	border-radius: 0px;
	box-shadow: 0px 0px 30px #ffffff;
    font-family: Marvel;
    }
    
.btn:hover{
    
    border:none;
    background:#ffffff;
    padding:20px 20px;
    color:rgb(0, 0, 0);
    
}

#heder{
    background-color: #ffffff;
	padding: 30px;
	border: 5px solid #c03737;
	border-radius: 20px;
    float: right;

}
@font-face{

font-family: Marvel;
src:url(MarvelRegular-Dj83.ttf);

}
#title{
    font-size: 55px;
    color: #ffffff;
    letter-spacing: 5px;
    text-transform:uppercase;
    font-family: Marvel;
}

#to_title1{

background-color: #ee171f;
box-shadow: 0px 0px 30px #ffffff;
text-align: center;
width: 500px;
height: 50px;

}
#to_title2{

    background-color: #ee171f;
    box-shadow: 0px 0px 30px #ffffff;
    text-align: center;
    width: 500px;
    height: 60px;
    
    }

::-webkit-scrollbar {
    display: none;
}

.zoom{
    overflow: hidden;
    padding: 0;
}
.zoom img {
    transition-duration: 0.2s;
    margin: 0 auto;
    display: block;
}
.zoom img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    z-index: 0;
}
